html,body
{
	font-family: "微软雅黑";
}
::-webkit-input-placeholder { 
	
	font-size: 12px;		
}
:-moz-placeholder { 	

		font-size: 12px;
}
::-moz-placeholder { 

		font-size: 12px;
}
:-ms-input-placeholder { 

		font-size: 12px;
}

/*内容区*/
.mui-content
{
	position: relative;
	margin-top: 20%;
}
.mui-content .mui-content-input
{
	margin: 0 auto;
}

.mui-content-check input
{
	width: 60%;
}
.mui-content-check button
{
	font-size: 14px;
	width: 30%;
	height: 40px;
	background: #44ace8;
	border: none;	
}
.mui-content-input .mui-input-row input
{
	width: 90%;
}
.mui-content-button .mui-btn-royal
{
	margin-top: 10%;
	width: 90%;
	background: #0fc9c0;
	border: 1px solid #0fc9c0;
}
