html,body
{
	font-family: "微软雅黑";
}
::-webkit-input-placeholder { 
	
	font-size: 12px;		
}
:-moz-placeholder { 	

	font-size: 12px;
}
::-moz-placeholder { 

	font-size: 12px;
}
:-ms-input-placeholder { 

	font-size: 12px;
}


/*内容区*/
.mui-content
{
	margin-top: 10%;
	text-align: center;
}

.mui-content .mui-content-input
{
	text-align: center;
}
.mui-content-input .mui-input-row input
{
	width: 90%;
	
}
.mui-content-input .mui-content-button
{
	margin-top: 10%;
}
.mui-content-input .mui-content-button button
{
	background: #0fc9c0;
	border: 1px solid #0fc9c0;
	width: 90%;
}
